<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#dee0ff">
    <title>
        {% if page.title %}
        {{ page.title | escape }}
        {% else %}
        {{ site.title | escape }}
        {% endif %}
    </title>
    {% if site.lily.beercss.css_url %}
    <link rel="stylesheet" type="text/css" href="{{ site.lily.beercss.css_url }}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/beercss@3.1.3/dist/cdn/beer.min.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% if site.lily.beercss.js_url %}
    <script type="text/javascript" src="{{ site.lily.beercss.js_url }}"></script>
    {% else %}
    <script type="module" src="//cdn.jsdelivr.net/npm/beercss@3.1.3/dist/cdn/beer.min.js"></script>
    {% endif %}
    {% seo %}
    <script type="text/javascript" src="{{ "/assets/js/lily.js" | relative_url }}"></script>
    <script type="text/javascript">
        window.onpageshow=function(e) {
            if (e.persisted)
                setLightMode();
        }
    </script>
    {% include head-custom.html %}
    {% for js in layout.js %}
    {% if js contains "//" %}
    <script src="{{js}}"></script>
    {% else %}
    <script src="{{site.baseurl}}/assets/js/{{js}}"></script>
    {% endif %}
    {% endfor %}
    {% for js in page.js %}
    {% if js contains "//" %}
    <script src="{{js}}"></script>
    {% else %}
    <script src="{{site.baseurl}}/assets/js/{{js}}"></script>
    {% endif %}
    {% endfor %}
</head>